@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins;
  }
}


.no-scrollbar {
  -ms-overflow-style: none;     /* IE + Edge */
  scrollbar-width: none;        /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}


.filter-blue {
  filter: brightness(0) saturate(100%)
          invert(18%)
          sepia(96%)
          saturate(3200%)
          hue-rotate(205deg)
          brightness(92%)
          contrast(110%);
}

/* Dark Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0A0A0A; /* Same as dashboard bg */
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2A2A2A;
}

