@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins;
  }
}


.no-scrollbar {
  -ms-overflow-style: none;     /* IE + Edge */
  scrollbar-width: none;        /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}


.filter-blue {
  filter: brightness(0) saturate(100%)
          invert(18%)
          sepia(96%)
          saturate(3200%)
          hue-rotate(205deg)
          brightness(92%)
          contrast(110%);
}
